.navbar {
  overflow: visible;
  margin-bottom: 18px;
}
.navbar-inner {
  padding-left: 20px;
  padding-right: 20px;
  background-color: #2c2c2c;
  background-image: -moz-linear-gradient(top, #333, #222);
  background-image: -ms-linear-gradient(top, #333, #222);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#333), to(#222));
  background-image: -webkit-linear-gradient(top, #333, #222);
  background-image: -o-linear-gradient(top, #333, #222);
  background-image: linear-gradient(top, #333, #222);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#333', endColorstr='#222', GradientType=0);
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25), inset 0 -1px 0 rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25), inset 0 -1px 0 rgba(0, 0, 0, 0.1);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25), inset 0 -1px 0 rgba(0, 0, 0, 0.1);
}
.btn-navbar {
  display: none;
  float: right;
  padding: 7px 10px;
  margin-left: 5px;
  margin-right: 5px;
  background-color: #2c2c2c;
  background-image: -moz-linear-gradient(top, #333, #222);
  background-image: -ms-linear-gradient(top, #333, #222);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#333), to(#222));
  background-image: -webkit-linear-gradient(top, #333, #222);
  background-image: -o-linear-gradient(top, #333, #222);
  background-image: linear-gradient(top, #333, #222);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#333', endColorstr='#222', GradientType=0);
  border-color: #222 #222 #000000;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
  -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1), 0 1px 0 rgba(255, 255, 255, 0.075);
  -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1), 0 1px 0 rgba(255, 255, 255, 0.075);
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1), 0 1px 0 rgba(255, 255, 255, 0.075);
}
.btn-navbar:hover,
.btn-navbar:active,
.btn-navbar.active,
.btn-navbar.disabled,
.btn-navbar[disabled] {
  background-color: #222;
}
.btn-navbar:active,
.btn-navbar.active {
  background-color: #080808 \9;
}
.btn-navbar .icon-bar {
  display: block;
  width: 18px;
  height: 2px;
  background-color: #f5f5f5;
  -webkit-border-radius: 1px;
  -moz-border-radius: 1px;
  border-radius: 1px;
  -webkit-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.25);
  -moz-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.25);
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.25);
}
.btn-navbar .icon-bar + .icon-bar {
  margin-top: 3px;
}
.nav-collapse.collapse {
  height: auto;
}
.navbar .brand:hover {
  text-decoration: none;
}
.navbar .brand {
  float: left;
  display: block;
  padding: 8px 20px 12px;
  margin-left: -20px;
  font-size: 20px;
  font-weight: 200;
  line-height: 1;
  color: #fff;
}
.navbar .navbar-text {
  margin-bottom: 0;
  line-height: 40px;
  color: #999;
}
.navbar .navbar-text a:hover {
  color: #fff;
  background-color: transparent;
}
.navbar .btn,
.navbar .btn-group {
  margin-top: 5px;
}
.navbar .btn-group .btn {
  margin-top: 0;
}
.navbar-form {
  margin-bottom: 0;
  *zoom: 1;
}
.navbar-form:before,
.navbar-form:after {
  display: table;
  content: "";
}
.navbar-form:after {
  clear: both;
}
.navbar-form input,
.navbar-form select {
  display: inline-block;
  margin-top: 5px;
  margin-bottom: 0;
}
.navbar-form .radio,
.navbar-form .checkbox {
  margin-top: 5px;
}
.navbar-form input[type="image"],
.navbar-form input[type="checkbox"],
.navbar-form input[type="radio"] {
  margin-top: 3px;
}
.navbar-search {
  position: relative;
  float: left;
  margin-top: 6px;
  margin-bottom: 0;
}
.navbar-search .search-query {
  padding: 4px 9px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 13px;
  font-weight: normal;
  line-height: 1;
  color: #fff;
  color: rgba(255, 255, 255, 0.75);
  background: #666;
  background: rgba(255, 255, 255, 0.3);
  border: 1px solid #111;
  -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1), 0 1px 0px rgba(255, 255, 255, 0.15);
  -moz-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1), 0 1px 0px rgba(255, 255, 255, 0.15);
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1), 0 1px 0px rgba(255, 255, 255, 0.15);
  -webkit-transition: none;
  -moz-transition: none;
  -ms-transition: none;
  -o-transition: none;
  transition: none;
}
.navbar-search .search-query :-moz-placeholder {
  color: #eee;
}
.navbar-search .search-query ::-webkit-input-placeholder {
  color: #eee;
}
.navbar-search .search-query:hover {
  color: #fff;
  background-color: #999;
  background-color: rgba(255, 255, 255, 0.5);
}
.navbar-search .search-query:focus,
.navbar-search .search-query.focused {
  padding: 5px 10px;
  color: #333;
  text-shadow: 0 1px 0 #fff;
  background-color: #fff;
  border: 0;
  -webkit-box-shadow: 0 0 3px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0 0 3px rgba(0, 0, 0, 0.15);
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.15);
  outline: 0;
}
.navbar-fixed-top {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1030;
}
.navbar-fixed-top .navbar-inner {
  padding-left: 0;
  padding-right: 0;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
}
.navbar .nav {
  position: relative;
  left: 0;
  display: block;
  float: left;
  margin: 0 10px 0 0;
}
.navbar .nav.pull-right {
  float: right;
}
.navbar .nav > li {
  display: block;
  float: left;
}
.navbar .nav > li > a {
  float: none;
  padding: 10px 10px 11px;
  line-height: 19px;
  color: #999;
  text-decoration: none;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
}
.navbar .nav > li > a:hover {
  background-color: transparent;
  color: #fff;
  text-decoration: none;
}
.navbar .nav .active > a,
.navbar .nav .active > a:hover {
  color: #fff;
  text-decoration: none;
  background-color: #222;
  background-color: rgba(0, 0, 0, 0.5);
}
.navbar .divider-vertical {
  height: 30px;
  width: 1px;
  margin: 0 9px;
  overflow: hidden;
  background-color: #222;
  border-right: 1px solid #333;
}
.navbar .nav.pull-right {
  margin-left: 10px;
  margin-right: 0;
}
.navbar .dropdown-menu {
  margin-top: 1px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}
.navbar .dropdown-menu:before {
  content: '';
  display: inline-block;
  border-left: 7px solid transparent;
  border-right: 7px solid transparent;
  border-bottom: 7px solid #ccc;
  border-bottom-color: rgba(0, 0, 0, 0.2);
  position: absolute;
  top: -7px;
  left: 9px;
}
.navbar .dropdown-menu:after {
  content: '';
  display: inline-block;
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-bottom: 6px solid #fff;
  position: absolute;
  top: -6px;
  left: 10px;
}
.navbar .nav .dropdown-toggle .caret,
.navbar .nav .open.dropdown .caret {
  border-top-color: #fff;
}
.navbar .nav .active .caret {
  opacity: 1;
  filter: alpha(opacity=100);
}
.navbar .nav .open > .dropdown-toggle,
.navbar .nav .active > .dropdown-toggle,
.navbar .nav .open.active > .dropdown-toggle {
  background-color: transparent;
}
.navbar .nav .active > .dropdown-toggle:hover {
  color: #fff;
}
.navbar .nav.pull-right .dropdown-menu {
  left: auto;
  right: 0;
}
.navbar .nav.pull-right .dropdown-menu:before {
  left: auto;
  right: 12px;
}
.navbar .nav.pull-right .dropdown-menu:after {
  left: auto;
  right: 13px;
}
code,
pre,
div.lstlisting {
  padding: 0 3px 2px;
  font-family: Menlo, Monaco, "Courier New", monospace;
  color: #333;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}
code {
  padding: 3px 4px;
  color: #333;
  background-color: #f7f7f9;
  border: 1px solid #e1e1e8;
}
pre > code {
  border: none;
}
pre,
div.lstlisting {
  display: block;
  padding: 8.5px;
  margin: 0 0 9px;
  line-height: 18px;
  background-color: #f5f5f5;
  border: 1px solid #ccc;
  border: 1px solid rgba(0, 0, 0, 0.15);
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  white-space: pre;
  white-space: pre-wrap;
  word-break: break-all;
}
pre.prettyprint,
div.lstlisting.prettyprint {
  margin-bottom: 18px;
}
pre code,
div.lstlisting code {
  font-size: 0.8em;
  padding: 0;
  background-color: transparent;
}
div.highlight > pre {
  font-size: 0.8em;
}
pre.hl {
  color: #ffffff;
  background-color: #005c70;
  font-size: 10pt;
  font-family: 'Courier New';
}
.hl.num {
  color: #e01a70;
}
.hl.esc {
  color: #ca4ae2;
}
.hl.str {
  color: #ca4ae2;
}
.hl.dstr {
  color: #ca4ae2;
}
.hl.slc {
  color: #24c714;
}
.hl.com {
  color: #24c714;
}
.hl.dir {
  color: #1480b0;
}
.hl.opt {
  color: #4d4d4d;
}
.hl.sym {
  color: #f84800;
}
.hl.lin {
  color: #7817b7;
}
.hl.kwa {
  color: #1c45d6;
}
.hl.kwb {
  color: #ed0f54;
}
.hl.kwc {
  color: #26abe8;
}
.hl.kwd {
  color: #1c45d6;
}
.hl.top {
  color: #4d4d4d;
}
.hl.std {
  color: black;
}
/* temporary for now, we'll see for merging both later */
code > span.kw {
  color: #007020;
  font-weight: bold;
}
code > span.dt {
  color: #902000;
}
code > span.dv {
  color: #40a070;
}
code > span.bn {
  color: #40a070;
}
code > span.fl {
  color: #40a070;
}
code > span.ch {
  color: #4070a0;
}
code > span.st {
  color: #4070a0;
}
code > span.co {
  color: #60a0b0;
  font-style: italic;
}
code > span.ot {
  color: #007020;
}
code > span.al {
  color: #ff0000;
  font-weight: bold;
}
code > span.fu {
  color: #06287e;
}
code > span.er {
  color: #ff0000;
  font-weight: bold;
}
.navbar .brand {
  font-size: 13px ;
  padding-top: 5px;
  padding-left: 24px;
  font-weight: bold;
}
.navbar a.brand {
  text-decoration: none ;
}
.navbar-fixed-top .navbar-inner {
  height: 30px;
  padding-top: 4px;
}
.navbar .nav > li {
  margin-top: 6px;
  line-height: 10px;
}
.navbar .nav > li > a {
  line-height: 10px;
}
div.article-navbar {
  width: 100%;
  border-width: 0 0 1px 0;
  border-style: solid ;
  border-color: #DDDDDD;
  padding-bottom: 0.5em;
  text-align: justify;
  overlfow: auto;
  height: 20px;
}
div.navleft {
  position: relative;
  float: left;
  background-image: url('left.png');
  background-repeat: no-repeat;
  background-position: left top;
  padding-left: 18px;
}
div.navright {
  position: relative;
  float: right;
  text-align: right ;
  background-image: url('right.png');
  background-repeat: no-repeat;
  background-position: right top;
  padding-right: 18px;
}
/*

	Nonzero1.0 by nodethirtythree design
	http://www.nodethirtythree.com
	missing in a maze
*/
#ga2 {
  color: #ff7f50;
}
/* This controls the width of the fluid width layouts */
.fluid {
  width: 90% !important;
}
/* This controls the width of the fixed width layouts */
.fixed {
  width: 1050px !important;
}
/* Basic Stuff */
* {
  margin: 0em;
  padding: 0em;
}
body {
  background-color: #fff;
  color: #585858;
  font-size: 12pt;
  font-family: "trebuchet ms", helvetica, sans-serif;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
  letter-spacing: -1px;
  /*text-transform: lowercase;*/
}
h2,
h3,
h4,
h5,
h6 {
  color: #66000F;
}
br.clear {
  clear: both;
}
img {
  padding: 3px;
  /* border: solid 1px #e1e1e1; */
}
/* disable padding for latex-produced images that may be inline in text */
img.latex {
  padding: 0px;
  margin-bottom: -0.2em;
}
img.floatTL {
  float: left;
  margin-right: 1.5em;
  margin-bottom: 1.5em;
  margin-top: 0.5em;
}
a {
  text-decoration: underline;
  color: #D90000;
}
a:hover {
  text-decoration: none;
  color: #8d0000;
}
dd {
  margin-left: 2em;
}
ul.links {
  list-style: none;
}
ul.links li {
  line-height: 2em;
}
p {
  line-height: 1.8em;
}
ul {
  line-height: 1.8em;
}
/* Header */
#header {
  width: 100%;
  height: 122px;
  background: #440000 url('http://gallium.inria.fr/images/n1.gif') repeat-x;
}
#header_inner {
  position: relative;
  width: 950px;
  height: 122px;
  margin: 0 auto;
}
/* Logo */
#logo {
  position: absolute;
  bottom: 0.6em;
}
#logo h1 {
  display: inline;
  color: #fff;
  font-size: 2.6em;
  font-weight: bold;
}
#logo h2 {
  display: inline;
  padding-left: 0.5em;
  color: #E5CCD0;
  font-size: 1em;
}
/* Menu */
#menu {
  position: absolute;
  right: 0em;
  bottom: 0em;
}
#menu ul {
  list-style: none;
}
#menu li {
  float: left;
}
#menu li a {
  margin-left: 0.5em;
  display: block;
  padding: 1.1em 1.4em 1em 1.4em;
  background: #fff url('http://gallium.inria.fr/images/n4.gif') repeat-x;
  border: solid 1px #fff;
  color: #616161;
  font-weight: bold;
  font-size: 0.9em;
  text-transform: lowercase;
  text-decoration: none;
}
#menu li a.active {
  background: #CA2F2F url('http://gallium.inria.fr/images/n3.gif') repeat-x;
  color: #fff;
  border: solid 1px #A94B4B;
}
/* Main */
#main {
  background: #fff url('http://gallium.inria.fr/images/n2.gif') 0px 1px repeat-x;
}
#main_inner p {
  text-align: justify;
  margin-bottom: 1.4em;
}
#main_inner ul {
  margin-bottom: 2em;
}
#main_inner {
  position: relative;
  width: 950px;
  margin: 0 auto;
  padding-top: 3.5em;
  /* px; the height of #main's background */
}
#main_inner h2,
h3,
h4 {
  border-bottom: dotted 1px #E1E1E1;
  position: relative;
}
#main_inner h2 {
  font-size: 2.1em;
  padding-bottom: 0.1em;
}
#main_inner h3 {
  font-size: 1.6em;
  padding-bottom: 0.1em;
}
#main_inner h4 {
  font-size: 1.2em;
  padding-bottom: 0.175em;
  margin-top: 0.95em;
}
#main_inner h5 {
  font-size: 1.2em;
  margin-bottom: 0.5em;
  margin-top: 0.8em;
}
#main_inner .post {
  position: relative;
}
.article-item {
  margin-bottom: 2em;
}
.article-title {
  position: relative;
  font-size: 1.7em;
}
a.intitle {
  color: inherit;
}
h1 a.intitle,
#article a.intitle {
  text-decoration: none;
}
#main_inner .post ul.post_info {
  list-style: none;
  font-size: 0.8em;
}
#main_inner .post ul.post_info li {
  background-position: 0em 0.2em;
  background-repeat: no-repeat;
  display: inline;
  padding-left: 18px;
}
#main_inner .post ul.post_info li.date {
  background-image: url('http://gallium.inria.fr/images/n5.gif');
}
#main_inner .post ul.post_info li.comments {
  background-image: url('http://gallium.inria.fr/images/n6.gif');
  margin-left: 1.1em;
}
/* Footer */
#footer li {
  display: inline;
  list-style-type: none;
  padding-right: 3em;
}
#footer {
  width: 950px;
  margin: 0 auto;
  text-align: center;
  clear: both;
  border-top: dotted 1px #E1E1E1;
  margin-top: 1em;
  margin-bottom: 1em;
  padding-top: 1em;
  text-transform: lowercase;
}
/* Search */
input.button {
  background: #CA2F2F url('http://gallium.inria.fr/images/n3.gif') repeat-x;
  color: #fff;
  border: solid 1px #A94B4B;
  font-weight: bold;
  text-transform: lowercase;
  font-size: 0.8em;
  height: 2em;
}
input.text {
  border: solid 1px #F1F1F1;
  font-size: 1em;
  padding: 0.25em 0.25em 0.25em 0.25em;
}
#search {
  position: relative;
  width: 100%;
  margin-bottom: 2em;
}
#search input.text {
  position: absolute;
  top: 0em;
  left: 0em;
  width: 9.5em;
}
#search input.button {
  position: absolute;
  top: 0em;
  right: 0em;
  min-width: 2em;
  max-width: 2.5em;
}
/* Primary content */
#section {
  position: relative;
  margin-right: 17em;
}
#section_inner {
  position: relative;
  float: left;
  width: 100%;
  margin-right: -17em;
  padding-right: 2em;
}
/* Secondary Content */
#aside {
  width: 13em;
  float: right;
  padding: 0em 0em 0.5em 2em;
  border-left: dotted 1px #E1E1E1;
}
.article-keywords {
  font-style: italic ;
  margin-top: 2.8em;
  margin-bottom: 1.4em;
}
/* .keywords is the class of individual keywords, while
  .article-keywords is the class of the div englobing all keywords.
  */
.keywords {
  display: inline ;
}
.keywords a {
  text-decoration: none;
}
blockquote {
  padding-left: 1em;
  border-left: 2px solid gray;
}
.article-body ul {
  list-style-type: circle;
  margin-left: 1em;
}
.article-body ol {
  margin-left: 1em;
}
/* // to use in case paragraph inside list create trouble
   // (Suggested by Jonathan Protzenko)
li > p {
    display:inline;
}
*/
.link-to-article-body a {
  text-decoration: none;
}
.link-to-article-body :before {
  font-style: italic;
  color: gray;
  content: "Link to full post: ";
}
.ocaml-toplevel {
  font-style: italic;
  color: gray;
}
/* complements gallium.less "#main_iner p" rule for post-paragraph
   margin */
#main_inner p + ul {
  margin-top: -1.4em;
}
#main_inner p + ol {
  margin-top: -1.4em;
}
.article-notes {
  border-top: 1px dotted #E1E1E1;
  border-bottom: 1px dotted #E1E1E1;
  padding: 1em;
  margin-top: 1.4em;
  margin-bottom: 1.4em;
}
table,
th {
  border: 1px solid black;
  border-collapse: collapse;
}
td,
th {
  padding: 0.3em;
}
